<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="form-container">

        <% if (success) { %>
            <p style="color: lightgreen; text-align: center;"><%= success %></p>
        <% } else { %>
            <p style="color: red; text-align: center;"><%= error %></p>
            <% } %>
        <h1>Sign Up</h1>
        <form id="form" class="form" action="/contribution/signup" method="POST">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your full name">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm" placeholder="Confirm your password">

            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>
